
<%- include ("partials/header") -%> 
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li ><a href="/">Drugs</a></li>
      <li class="is-active"><a href="/airway">Airway + Fluids</a></li>
      <li><a href="/wetflags">WETFLAGS</a></li>
    </ul>
  </div>
  <!-- start of main content -->

  <div class="notification is-primary">
    <div class="columns">
      <div class="column">
        <!-- column 1 -->
        <div class="box">
          <table class="table is-size-7 is-fullwidth">
            <tr>
               <th></th>
               <th>Value</th>
               <th>Units</th>
            </tr>
        
            
            <% for (let device of airwayDevices) { %>
              <tr>
               <td><%= device.name %></td>
               <td> <%= device.formula %> </td>
               <td> <%= device.units %></td>
               
               
               <% } %>
               
           
               <td> </td>
            </tr>     

         </table>

         
          
        </div>
        <div class="box">
          <p>Respiratory Rate</p>
          <p>Tidal Volume</p>
          <p></p>
          
       
        
        
        </div>
        

      </div>
      <div class="column">
        <!-- column 2 -->
        <div class="box">
         <p>Fluid bolus 20ml/kg</p>
         <p>Trauma 10ml/kg</p>
         <p>10% Dextrose (hypoglycaemia) 2ml/kg</p>
         <p>Maintenance 4/2/1 rule</p>

        </div>
        <div class="box">
          fluid pic here? K requirements?
 
         </div>
        
      </div>
    </div>
  </div>
</div>

<!-- end of main content -->

<%- include ("partials/footer") -%> 