
<%- include ("partials/header") -%> 


<!-- tabs -->
<div class="container mt-20">
  <%- include ("partials/which-child") -%> 
  
  <div class="tabs is-boxed my-0" >
    <ul>
      <li class="is-active"><a href="/">Drugs</a></li>
      <li><a href="/airway">Airway + Fluids</a></li>
      <li><a href="/wetflag">WETFLAG</a></li>
      
    </ul>
  </div>
  <!--end tabs -->
  
   
  
      <!-- start of main content -->
      
      <div class="notification is-primary">
     
        <div class="columns">
          <div class="column">
            <!-- column 1 -->

            
            <div class="box pt-4" id="childInput">
          
             
              <!-- start of form -->
             
              <form action="/" method="POST">

                <div class="field is-horizontal is-mobile">
                  <div class="field-label">  
                    <label for="weight" class="has-text-weight-bold">Weight</label>
                  </div>
                  <div class="field-body">
                    <div class="field columns is-mobile is-vcentered">
                        <div class="column is-one-fifth pl-3"><input id="weight" name="weight" class="input is-success is-small" required type="number" min="0" max="100" step="0.1" value=" "></div>
                        <div class="column">kg</div>
                    </div> 
                  </div>
                </div>

             

                <div class="field is-horizontal is-mobile">
                  <div class="field-label">
                    <label for="age" class="has-text-weight-bold">Age</label>
                  </div>
                  <div class="field-body">
                    <div class="field columns is-mobile is-vcentered">
                        <div class="column is-one-fifth pl-3"><input id="age" name="age" class="input is-success is-small" required type="number" min="0" max="16"></div>
                        <div class="column">years <button class="button is-primary is-small ml-5" id="submit" type="submit">Submit</button></div>
                        
                    </div>
                    

                  </div>
                </div>
               
               </form> 
               
            </div>
            
         

            
              
              <!-- currentpatient -->
              <div class="box has-text-dark is-size-7 is-hidden" id="currentPatient">
                <div class="column">
                  <p class="has-text-weight-bold is-size-6">Current patient</p>
                  <p>weight:<span class="has-text-danger has-text-weight-bold"> <%= weight %></span> kg</p>
                  <p>age: <span class="has-text-danger has-text-weight-bold"><%= age %></span> years</p>
                </div>
                <div class="column pt-0">
                  <div>
                    <button id="newPatient" class="button is-primary is-small">new patient</button>
                  </div>
              </div>
              </div>

              
             <!-- premeds -->

              <div class="box">
  <table class="table is-size-7 has-text-left is-fullwidth">
    <tr>
       <th>Drug</th>
       <th>Amount</th> 
    </tr>

    <% for (let premed of premeds) { %>
      <tr>
       <td><%= premed.name %></td>
       <td><%= premed.amount %> <%=premed.units %></td>
      </tr>    
     <% } %>
     
     
 </table>
 <%- include ("partials/jump-to") -%> 

</div>

<!-- emergency drugs -->
<div class="box">
  
  <table class="table is-size-7 is-fullwidth has-text-left">
    <tr>
       <th>Drug</th>
       <th>Amount</th>
       <th>Volume (mls)</th>
    </tr>
 
    <% for (let e of emergencyDrugs) { %>
     <tr>
      <td><%= e.name %></td>
       <td> <%= e.amount %> <%= e.units %></td>
      
       <td> <%= e.volume %> </td>
     </tr>    
    <% } %>
 </table>


</div>
<!-- induction drugs-->

<div class="box">
  
  <table class="table is-size-7 is-fullwidth has-text-left">
    <tr>
       <th>Drug</th>
       <th>Amount</th>
       
       <th>Volume (mls)</th>
    </tr>
 
    <% for (let i of inductionDrugs) { %>
      <tr>
       <td><%= i.name %></td>
        <td> <%= i.amount %> <%= i.units %></td>
        <td> <%= i.volume %> </td>
      </tr>    
     <% } %>
 </table>


</div>
            
            
<!-- antibiotics -->

<div class="box">
  
  <table class="table is-size-7 is-fullwidth has-text-left">
    <tr>
       <th>Drug</th>
       <th>Amount</th>
       
       
    </tr>
 
    <% for (let abx of antibiotics) { %>
     <tr>
      <td><%= abx.name %></td>
      <td> <%= abx.amount %>  <%= abx.units %></td>
       
     </tr>    
    <% } %>
 </table>


</div>
         
<!-- antiemetics -->
<div class="box">
  
  <table class="table is-size-7 is-fullwidth has-text-left">
    <tr>
       <th>Drug</th>
       <th>Amount</th>
       <th>Volume (mls)</th>
    </tr>
 
    <% for (let a of antiemetics) { %>
      <tr>
       <td><%= a.name %></td>
        <td> <%= a.amount %> <%= a.units %></td>
       
        <td> <%= a.volume %> </td>
      </tr>    
     <% } %>
      
 </table>
</div>


<!-- analgesia -->
<div class="box" id="analgesia">
  
  <table  class="table is-size-7 is-fullwidth has-text-left">
    <tr>
       <th>Drug</th>
       <th>Amount</th>
       <th>Volume (mls)</th>
       <th>Frequency</th>
    </tr>
 
    <% for (let p of painkillers) { %>
      <tr>
       <td><%= p.name %></td>
        <td> <%= p.amount %> <%= p.units %></td>
        <td> <%= p.volume %> </td>
        <td> <%= p.freq %> </td>
      </tr>    
  <% } %>
      
 </table>
</div>

<div class="box">
<p id="analgesia-instructions" class="is-size-7 has-text-dark has-text-weight-bold"> </p>
<figure class="image is-5by3 is-hidden" id="over50">
  <embed class="has-ratio" src="pdfs/morphine-over50.pdf" frameborder="0" allowfullscreen></em>
</figure>

<figure class="image is-3by2 is-hidden" id="under50">
  <embed class="has-ratio" src="pdfs/morphine-under50.pdf" frameborder="0" allowfullscreen></em>
</figure>


</div>

<div class="box">
  <p>Caudal</p>
  <p>Epidural</p>
</div>



</div>
          
          <div class="column">
            <!-- column 2 -->
            <div class="box">
              <img src="images/paracetamol-iv.png">
              <img src="images/paracetamol-oral.png">
              <img src="images/paracetamol-sticker.png">
            </div>
            
          
          

           

           
          </div>
          
        
        
      </div>
      <%- include ("partials/footer") -%> 
    </div>
    
    <!-- end of main content -->
    