
<%- include ("partials/header") -%> 
<%- include ("partials/which-child") -%> 

<div class="container mt-5">

  <div class="tabs is-boxed my-0">
    <ul>
      <li ><a href="/">Drugs</a></li>
      <li><a href="/airway" id="airwayFluidsTab">Airway + Fluids</a></li>
      <li class="is-active"><a href="/wetflag" id="wetflagTab">WETFLAG</a></li>
    </ul>
  </div>  <!-- start of main content -->

  <div class="notification is-primary">
    
    <div class="columns">
      <div class="column">


        <% if (weight) { %>
          <div class="box has-text-dark is-size-7" id="currentPatient">
            <div class="column">
              <p class="has-text-weight-bold is-size-6">Current patient</p>
              <p>
                weight:<span class="has-text-danger has-text-weight-bold">
                  <%= weight %></span
                >
                kg
              </p>
              <p>
                age:
                <span class="has-text-danger has-text-weight-bold"><%= age %></span> years 
                
                <% if (!isNaN(months)) { %>
                <span class="has-text-danger has-text-weight-bold"><%= months %></span> months
              <% } %>
          
                
              </p>
            </div>
            <div class="column pt-0">
              <div>
                <!-- <button id="newPatient" class="button is-primary is-small">
                  new patient
                </button> -->
              </div>
            </div>
          </div>
        <% } %>
        <!-- column 1 -->
        
        <div class="box">
          <span class="has-text-danger">*Resus UK: for children between 1 and 10 years old</span>
          <table class="table is-fullwidth has-text-left mt-2">

          
            <tr>
               <th></th>
               <th>Value</th>
               <th>Units</th>
            </tr>
        
            <% let i=0 %>
            <% for (let parameter of parameters) { %>
              <tr>
               <td><%= parameter.name %></td>
               <td> <%= parameter.formula %> </td>
      
               <td> <%=parameter.units %></td>
               
               <% } %>
               
           
               <td> </td>
            </tr>     
            
         </table>
         
          
          
        
        </div>
        <div class="box has-text-grey">
          <p class="has-text-weight-bold">Formulae</p>
          <p>Weight (age+4) x 2</p>
          <p>Energy 4J/kg</p>
          <p>Tube diameter age/4+4</p>
          <p>Tube length [oral: age/2 + 12] [nasal: age/2 + 15]</p> 
          <p>Fluid 10mg/kg </p>
          <p>Lorazepam 0.1mg/kg</p>
          <p>Adrenaline 0.1ml/kg of 1:10 000 IV</p>
          <p>Glucose 10% 2ml/kg</p></div>
        

      </div>
      <div class="column">
        <!-- column 2 -->
        <div class="box">
          <figure class="image is-2by3">
           
            <embed class="has-ratio" src="/pdfs/ALS.pdf" frameborder="0" allowfullscreen></em>
          </figure>
        
        </div>

        <!-- <div class="box">
          <figure class="image is-2by3">
            <img src="images/ALS.png">
            
          </figure>
        
        </div> -->
        
      </div>
    </div>
    <%- include ("partials/footer") -%> 
  </div>
  
</div>

<!-- end of main content -->

